@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot');
	src: url('fonts/icomoon.eot?iefix') format('eot'),
	     url('fonts/icomoon.woff') format('woff'),
	     url('fonts/icomoon.ttf') format('truetype'),
	     url('fonts/icomoon.svg#webfont') format('svg');
}

html,
body {
    height: 100%;
    font-family: 'Roboto Slab', sans-serif, Arial;
}

h1, h2 {
    color: #ffffff;
    font-size: 50px;
}

.page-header h1 {
    padding-top:20px;
}

h2 {
    font-size: 20px;
}

/* Navigation Bar */
#navbar {
    background-color: #F68026;
}

#navbar li a {
    color: #ffffff;
    font-size: 16px; 
}

#navbar li>a:hover,
#navbar li>a:focus {
    color: #F68026;
    background-color: #005696;
    text-decoration: underline;
    font-weight:700;
}

/* Dropdown Navbar Menu */
#projectsmenu {
    background-color: #F68026;
    left: 100%;
    position: absolute;
    top: 0;
    visibility: visible;
    margin-top: -1px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -25px;
    /* Pad bottom by footer height */
    padding-bottom:25px;
    background-color: #005696;
}

/* Set the fixed height of the footer here */
#footer {
    height: 25px;
    background-color: #F68026;
    text-align:center;
    margin-bottom:0px;
}

#footer h2 {
    margin-bottom: 0px;
}

/* Home Page */ 
#splash {
    height: 550px;
    background-image: url('arduino.jpg');
    background-size: cover;
    background-position: center center;
    max-height: 1000px;
    border-radius: 0px;
    text-align: center;
}

/* Services */
.services p {
    color:#FFF;
    padding:10px px 0;
}

/* Sprites */
.icon-sprite {
    font-family: 'icomoon';
    display: inline-block;
    font-size:50px;
    color:#FFF;
}

.sprite-schedule::before{
    content: "\e94e";
}

.sprite-resources::before{
    content: "\e994";
}

.sprite-moreprojects::before{
    content: "\ea10";
}

/* Projects Page */

#projects h2 {
    font-size: 30px;
    padding-bottom:15px;
}

#projects li>a {
    font-size:20px;
    color:#fff;
    font-family: 'Roboto Slab', sans-serif, Arial;
    font-style: italic;
}

/* Project Individual Page*/
.overview {
    border-radius:2px;
    background-color: #fafdff;
    margin-bottom:40px;
}

.overview h2 {
    margin-top:0px;
    margin-bottom:5px;
    color:#333;
    border-bottom:1px solid #333;
}

#projectName {
    font-size:40px;
    color:#333;
    border-bottom: 3px solid #333;
    border-radius: 2px;
}

#leftProjectOverview {
    height:inherit;
    color:#333;
}

#leftProjectOverview p {
    color:#333;
    font-size:18px;
}

#rightProjectOverview {
    height:inherit;
}

#rightProjectOverview img {
    width:600px;
    height:449px;
    border-radius: 5px;
    margin:25px;
}

/* Instruction set for projects */
.description {
    padding-left:0xp;
    padding-right:0px;
    border-radius: 2px;
    background-color:#fafdff;
}

.description > .container {
    margin-right:0px;
    padding-right:0px; /* come back here */
}

.description h2 {
    color:#333;
}



/*
Notes: 

Create function to do project pagination by finding headings w/ classes with certain names

Rescale pictures at certain sizes and try to make all pictures same ratio.

*/
/* Responsive CSS */


/*  Big Screen Width: 1200px */
@media (min-width: 1200px){
    .container {
        width:1200px;
    }
}


